  
name: CI

on:
    - push
    - pull_request

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.8]
        steps:
            - uses: actions/checkout@v2
            - name: Python ${{ matrix.python-version }} installation
              uses: actions/setup-python@v2
              with:
                python-version: ${{ matrix.python-version }}
            - name: Dependencies check
              run: |
                pip install poetry
                make install
            - name: Lint command
              run: |
                make lint
            - name: Testing Autotest
              run: | 
                ./.github/workflow/pytest -q files_check_tests.py

          